.aboutPage .header {
  padding: 20px;
}

.aboutPage .header button {
  margin-right: 12px;
}

.aboutPage .components {
  padding: 20px;
  display: flex;
}

.aboutPage .components .content {
  padding-right: 12px;
}